@font-face {
	font-family: "Ostrich Sans";
	src: url('ostrich-sans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ostrich Sans", sans-serif;
  font-weight: 700;
  line-height: 1.8em;
  color: #1a0000;
}

.header-container {
  width: 100%;
  height: 300px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #cce6ff;
  padding: 20px 0;
}

h1 {
  font-size: 100px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
  border: 5px solid #FFFFFF;
}

.page {
  width: 960px;
  margin: 0 auto;
  background-color: #EAEDF0     /*light blue*/
}

.section {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.bird {
  background-color: #F5CF8E;   /*orange*/
}

.melon {
  background-color: #7fffd4; /* turquoise */
}

.bird-body {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 5em 5em 0 0;
}

.bird-body::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 0 0 8em 8em;
  bottom: -100px;
}

.bird-body::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #000000;
  left: 100px;
  top: 100px;
  border-radius: 0 0 5em 5em;
}

.bird-head {
  position: absolute;
  background-color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 5em;
  left: 40px;
  top: 40px;
}

.bird-head::before {
  content: "";
  position: absolute;
  background-color: Yellow;
  width: 30px;
  height: 20px;
  border-radius: 5em 0 0 5em;
  left: -65px;
  top: 10px;
}

.bird-legs {
  position: absolute;
  background-color: #000000;
  width: 5px;
  height: 30px;
  border-radius: 0 0 5em 5em;
  left: 50px;
  top: 160px;
}

.bird-legs::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 5px;
  height: 30px;
  border-radius: 0 0 5em 5em;
  left: 10px;
}

.melon-body {
  width: 0;
  border-left: 183px solid transparent;
  border-right: 183px solid transparent;
  border-bottom: 320px solid #2D8634;           /* green */
  border-radius: 0 0 240px 240px;
  position: absolute;
}


.melon-body div {
  border-radius: 0 0 320px 320px;
  position: absolute;
}

.melon-body .red {
  border-left: 165px solid transparent;
  border-right: 165px solid transparent;
  border-bottom: 285px solid #ff4000;            /* pink */
  border-radius: 0 0 220px 220px;
  left: -165px;
}

.melon-body .white {
  border-left: 170px solid transparent;
  border-right: 170px solid transparent;
  border-bottom: 295px solid #E6D5B3;            /* white-ish */
  border-radius: 0 0 220px 220px;
  left: -170px;
}

.mouth {
  width: 30px;
  height: 25px;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-radius: 0 0 5em 5em;
  position: relative;
  bottom: -260px;
  left: -15px;
}

.left-eye {
  position: relative;
  border-radius: 50%;
  background-color: #000000;
  width: 15px;
  height: 15px;
  left: -50px;
  bottom: -60px;
}

.right-eye {
  position: relative;
  border-radius: 50%;
  background-color: #000000;
  width: 15px;
  height: 15px;
  left: 100px;
  bottom: -60px;
}

.seeds {
  width: 5px;
  height: 15px;
  background-color: #000000;
  border-radius: 70%;
}

.seed1 {
  position: relative;
  left: 50px;
  transform: rotate(-35deg);
}

.seed2 {
  position: relative;
  top: -20px;
  left: 30px;
  transform: rotate(-35deg);
}

.seed3 {
  position: relative;
  top: -40px;
  left: -30px;
  transform: rotate(-35deg);
}

.seed4 {
  position: relative;
  top: -60px;
  left: 10px;
  transform: rotate(-35deg);
}

.seed5 {
  position: relative;
  left: -70px;
  top: 10px;
  transform: rotate(-35deg);
}

.seed6 {
  position: relative;
  left: -50px;
  top: -5px;
  transform: rotate(-35deg);
}

.seed7 {
  position: relative;
  left: 20px;
  top: -15px;
  transform: rotate(-35deg);
}

.seed8 {
  position: relative;
  left: -30px;
  top: -15px;
  transform: rotate(-35deg);
}

.legs {
  position: relative;
  background-color: #000000;
  width: 5px;
  height: 50px;
  border-radius: 0 0 5em 5em;
  left: -10px;
  bottom:-183px;
}

.legs::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 5px;
  height: 50px;
  border-radius: 0 0 5em 5em;
  left: -35px;

}

.melon-shadow {
  width: 230px;
  height: 10px;
  border-radius: 50%;
  background-color: #868679;
  position: absolute;
  bottom: 40px;
}
