@font-face {
	font-family: "Ostrich Sans";
	src: url('ostrich-sans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ostrich Sans", sans-serif;
  font-weight: 700;
  line-height: 1.8em;
  color: #1a0000;
}

.header-container {
  width: 100%;
  height: 300px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #cce6ff;
  padding: 20px 0;
}

.header {
	animation-name: header;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	position: absolute;
	left: 0px;
}

@keyframes header {
	0% {
		left: -1000px;
	}

	60% {
		left: 180px;
	}
	100% {
		left: 0px;
	}
}

h1 {
  font-size: 100px;
}

.photo-grid {
	width: 960px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
  border: 5px solid #FFFFFF;
	margin: 10px;
}

.page {
  width: 960px;
  margin: 0 auto;
  background-color: #EAEDF0     /*light blue*/
}

.section {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}
